* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  outline: none;
}

body {
  display: block;
  overflow-x: hidden;

  font-family: "Open Sans", sans-serif;
}

main {
  overflow: hidden;
}

@font-face {
  font-weight: normal;
  font-family: "DiavloBold-Regular";
  font-style: normal;

  src: url("../fonts/DiavloBold-Regular.otf") format("opentype"),
    url("../fonts/DiavloBold-Regular.woff") format("woff"), url("../fonts/DiavloBold-Regular.ttf") format("truetype");
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ul,
li {
  list-style: none;
}

img {
  border: none;
}

input,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.limit {
  position: relative;

  max-width: 1114px;
  margin: 0 auto;
}

.block1 .bg_cont {
  min-height: 743px;

  background: url("../img/block1_bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

.block1 .top {
  padding: 15px 0;

  background: rgba(255, 255, 255, 0.4);
}

.block1 .top .list li {
  position: relative;

  display: inline-block;
  padding-right: 72px;
  padding-left: 62px;

  font-weight: bold;
  font-size: 17px;
  vertical-align: middle;
  color: white;
  letter-spacing: -1px;
}

.block1 .top .list li:nth-of-type(2) {
  padding-left: 37px;
}

.block1 .top .list li:nth-of-type(3) {
  padding-left: 77px;
}

.block1 .top .list li:nth-of-type(1):before {
  content: "";
  position: absolute;
  top: 50%;
  left: 7px;

  width: 44px;
  height: 23px;

  background: url("../img/block1_icon.png");
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.block1 .top .list li:nth-of-type(2):before {
  content: "";
  position: absolute;
  top: 50%;
  left: -4px;

  width: 34px;
  height: 34px;

  background: url("../img/block1_icon2.png");
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.block1 .top .list li:nth-of-type(3):before {
  content: "";
  position: absolute;
  top: 50%;
  left: -6px;

  width: 72px;
  height: 19px;

  background: url("../img/block1_icon3.png");
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.block1 .middle {
  font-size: 0;
}

.block1 .middle .left,
.block1 .middle .right {
  position: relative;
  z-index: 1;

  display: inline-block;
  width: 50%;

  font-size: 1.5rem;
  vertical-align: top;
}

.block1 .middle .left {
  padding: 77px 180px 0 10px;
}

.block1 .middle .left h1 {
  position: relative;
  right: 4px;

  margin-bottom: 16px;

  font-weight: bold;
  font-size: 64px;
  font-family: "DiavloBold-Regular";

  background: -webkit-linear-gradient(#dbbd90, #b6996c);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.block1 .middle .left h2 {
  font-size: 23px;
  color: white;
  text-transform: uppercase;
}

.block1 .middle .left h2 span {
  display: block;

  font-size: 27px;
}

.block1 .middle .left h2 font {
  color: #00dce6;
}

.block1 .middle .left .list {
  margin: 50px auto 65px;
}

.block1 .middle .left .list li {
  position: relative;

  margin-bottom: 8px;
  padding-left: 20px;

  font-size: 17px;
  color: white;
}

.block1 .middle .left .list li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 7px;
  height: 7px;

  background: #e2c496;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.block1 .middle {
  position: relative;
}

.block1 .middle .left .sect {
  width: 100%;
  max-width: 366px;
  margin-bottom: 5px;
  padding: 5px;

  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: white;

  border: 1px solid #dcbf93;
}

.block1 .middle .left .sect span {
  display: block;

  color: #e2c496;
}

.block1 .middle .right {
  padding: 40px 99px 0 167px;
}

.block1 .middle .right .symbol {
  display: block;
  margin: 0 auto 5px;
}

.block1 .middle .right h2 {
  margin-bottom: 25px;

  font-size: 22px;
  text-align: center;
  text-transform: uppercase;

  background: -webkit-linear-gradient(#dbbd90, #b6996c);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.block1 .middle .right .sale {
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: white;
}

.block1 .middle .right .sale span {
  font-size: 26px;
}

.block1 .middle .right .price {
  text-align: center;
}

.block1 .middle .right .price span {
  display: inline-block;

  font-weight: bold;
  vertical-align: middle;
}

.block1 .middle .right .price .old {
  position: relative;

  font-size: 24px;
  color: #888888;
}

.block1 .middle .right .price .old:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  height: 1px;

  background: red;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.block1 .middle .right .price .new {
  font-size: 28px;
  color: white;
}

.block1 .middle .right form {
  position: relative;

  width: 291px;
  height: 319px;
  margin-top: 100px;
  margin-bottom: 65px;
  padding: 35px 15px;

  background: url("../img/form_bg.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.block1 .middle .right form select,
.block1 .middle .right form input {
  display: block;
  width: 100%;
  margin-bottom: 13px;
  padding: 12px 15px;

  font-weight: normal;
  font-size: 18px;

  border: none;
}

.block1 .right form select {
  background: #ffffff url(../img/triangle.png) no-repeat 98% center;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.block1 .middle .right form .btn {
  position: absolute;
  bottom: -90px;
  left: 0;
  z-index: 2;

  display: block;
  width: 100%;
  padding: 20px 10px;

  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: white;
  text-transform: uppercase;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#54f2f9+0,18a1a7+100 */

  background: rgb(84, 242, 249);
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(84, 242, 249, 1) 0%, rgba(24, 161, 167, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 242, 249, 1)), to(rgba(24, 161, 167, 1)));
  background: -o-linear-gradient(top, rgba(84, 242, 249, 1) 0%, rgba(24, 161, 167, 1) 100%);
  background: linear-gradient(to bottom, rgba(84, 242, 249, 1) 0%, rgba(24, 161, 167, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: none;
  border-bottom: 4px solid #0f6b6f;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54f2f9', endColorstr='#18a1a7', GradientType=0);
  /* IE6-9 */
}

.btn {
  cursor: pointer;

  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.btn:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);

  -webkit-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.block1 .middle .prod {
  position: absolute;
  top: 150px;
  left: 46%;
  max-width: 330px;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.block1 .bottom {
  padding: 25px 0 25px;

  text-align: right;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2c496+0,ccac7a+100 */

  background: rgb(226, 196, 150);
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(226, 196, 150, 1) 0%, rgba(204, 172, 122, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(226, 196, 150, 1)), to(rgba(204, 172, 122, 1)));
  background: -o-linear-gradient(top, rgba(226, 196, 150, 1) 0%, rgba(204, 172, 122, 1) 100%);
  background: linear-gradient(to bottom, rgba(226, 196, 150, 1) 0%, rgba(204, 172, 122, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2c496', endColorstr='#ccac7a', GradientType=0);
  /* IE6-9 */
}

.block1 .bottom .pack {
  position: relative;

  display: inline-block;
  padding-right: 103px;

  font-size: 17px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.block1 .bottom .pack span {
  padding: 3px 5px;

  background: #937a54;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.block1 .bottom .pack:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;

  width: 7px;
  height: 7px;

  background: #937a54;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.block2 {
  padding: 20px 0 0;

  font-size: 0;

  background: #56f5fc;
}

.block2 .slider {
  padding: 85px 0;
}

.block2 .left {
  display: inline-block;
  width: 56%;

  font-size: 1rem;
  vertical-align: middle;
  text-align: center;
}

.block2 .left .img_cont {
  position: relative;

  display: inline-block;
  width: 100%;
  max-width: 510px;

  text-align: center;
}

.block2 .img_cont img {
  position: relative;
  z-index: 2;

  width: 100%;

  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.res_mark {
  width: 85%;
  margin: 0 auto;

  text-align: center;
  color: #ff0000;
}

.block2 .right {
  display: inline-block;
  width: 44%;
  padding-top: 130px;
  padding-left: 75px;

  font-size: 1rem;
  vertical-align: top;
  text-align: left;
  color: #3e3e3e;
}

.block2 .right .comm {
  margin-bottom: 30px;

  font-size: 22px;
  line-height: 33px;
}

.block2 .right .line {
  position: relative;

  width: 100%;
  height: 1px;
  margin-bottom: 42px;

  background: #1f989d;
}

.block2 .right .line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 15px;
  height: 15px;

  background: #1f989d;
}

.block2 .right .name {
  font-weight: bold;
  font-size: 22px;
}

.block2 .right .info {
  margin-bottom: 5px;

  font-size: 17px;
}

.block2 .right .info span {
  font-weight: bold;
}

.block2 .right .info.work {
  margin-bottom: 17px;
}

.block2 .bottom {
  width: 64%;
  padding: 27px 0;

  font-size: 1rem;
}

.block2 .bottom h1 {
  margin-bottom: 36px;
  padding: 0 56px 0 25px;

  font-weight: 900;
  font-size: 37px;
  line-height: 47px;
  text-align: center;
  color: #303030;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.block2 .bottom h1 span {
  display: block;
}

.block2 .bottom p {
  font-size: 17px;
  line-height: 28px;
  color: #303030;
}

.al_right {
  position: relative;

  text-align: right;
}

.block2 .bottom .prod {
  position: relative;
  right: 11px;
  z-index: 1;

  width: 100%;
  max-width: 300px;
  margin: 60px 0 50px;

  color: black;
}

.block2 .bottom .symbol {
  position: absolute;
  top: 88px;
  left: 14px;

  display: inline-block;

  text-align: center;
}

.block2 .bottom .symbol h3 {
  font-size: 22px;
  text-align: center;
  text-transform: uppercase;

  background: -webkit-linear-gradient(#dbbd90, #b6996c);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.block2 .bottom .cup {
  position: absolute;
  top: 253px;
  left: -78px;
}

.block2 .girl {
  position: absolute;
  right: -145px;
  bottom: 0;
}

.block3 {
  padding: 60px 0 83px;

  background: #ffffff;
}

.block3 h1 {
  margin-bottom: 60px;

  font-size: 42px;
  line-height: 49px;
  text-align: center;
  color: #303030;
}

.block3 .list {
  font-size: 0;
  text-align: center;
}

.block3 .list li {
  display: inline-block;
  width: 50%;
  margin-bottom: 20px;

  font-size: 17px;
  vertical-align: top;
}

.block3 .list li .section {
  max-width: 390px;
  margin: 0 auto;
}

.block3 .list li .section img {
  width: 100%;
  max-width: 301px;
}

.block3 .list li .section .img_cont {
  position: relative;

  margin-bottom: 15px;
}

.block3 .list li .section .label {
  position: absolute;
  bottom: 45px;
  left: 50%;
  text-shadow: 0 0 5px rgb(0, 0, 0);
  width: 100%;
  max-width: 205px;

  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: white;
  text-transform: uppercase;

  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.block3 .list li .section .label span {
  font-size: 21px;
}

.block3 .list li .section p {
  font-size: 17px;
  line-height: 26px;
  color: #303030;
}

.block4 {
  min-height: 883px;
  padding: 55px 0;

  background: url("../img/block4_bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

.block4 .limit {
  max-width: 1138px;
}

.block4 .left {
  width: 100%;
  max-width: 478px;
}

.block4 .left h1 {
  margin-bottom: 70px;

  font-weight: 900;
  font-size: 44px;
  line-height: 71px;
  color: white;
}

.block4 .left h1 span {
  font-weight: bold;
  font-size: 46px;
}

.block4 .left .list {
  padding: 47px 5px;

  background: white;
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.block4 .left .list li {
  position: relative;

  min-height: 75px;
  margin-bottom: 36px;

  font-size: 0;
  color: #343434;
}

.block4 .left .list li:last-child {
  margin-bottom: 0;
}

.block4 .left .list li .img_cont {
  display: inline-block;
  width: 24%;

  vertical-align: middle;
  text-align: center;
}

.block4 .left .list li p {
  display: inline-block;
  width: 76%;
  padding-right: 25px;

  font-size: 16px;
  vertical-align: middle;
}

.block4 .cup {
  position: absolute;
  top: 245px;
  left: 507px;

  width: 100%;
  max-width: 415px;
}

.block4 .prod {
  position: absolute;
  top: 190px;
  right: 170px;
  max-width: 380px;
}

.block5 {
  position: relative;
  z-index: 1;

  min-height: 808px;
  margin: -140px auto;
  padding: 212px 0 120px;

  text-align: right;

  background: url("../img/block5_bg.png") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

.block5 .right {
  display: inline-block;
  width: 100%;
  max-width: 640px;

  text-align: left;
}

.block5 .right h1 {
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 36px;
  line-height: 43px;
  color: white;
  text-transform: uppercase;
}

.block5 .right .list {
  padding-right: 60px;
}

.block5 .right .list li {
  position: relative;

  margin-bottom: 15px;
  padding-left: 35px;

  font-size: 18px;
  color: white;
}

.block5 .right .list li:before {
  content: "";
  position: absolute;
  top: 6px;
  left: 4px;

  width: 15px;
  height: 15px;

  background: #58bccb;
}

.block5 .prod {
  position: absolute;
  top: 0px;
  left: 26px;

  width: 100%;
  max-width: 400px;
}

.block6 {
  position: relative;

  min-height: 935px;
  padding: 100px 0 100px;

  background: url("../img/block6_bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

.block6 h1 {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #383837;
  text-transform: uppercase;
}

.block6 .sect {
  position: relative;
  z-index: 2;

  width: 100%;
  max-width: 970px;
  margin: 0 auto;
  padding: 50px 20px 50px 50px;

  font-size: 0;

  background: white;
  background: rgba(255, 255, 255, 0.8);
  -webkit-border-radius: 15px;
  border-radius: 15px;
}

.block6 .sect .text {
  display: inline-block;
  width: 66%;

  vertical-align: top;
}

.block6 .sect p {
  position: relative;
  z-index: 1;
  width: 328px;
  font-size: 17px;
  line-height: 29px;
  color: #353535;
}

.block6 .sect p.label {
  margin-bottom: 25px;
  padding-right: 10px;

  font-size: 20px;
  line-height: normal;
}

.block6 .sect .cup {
  position: absolute;
  top: 10px;
  right: -303px;
  float: right;
  max-width: 239px;
  margin-left: -75px;
}

.block6 .sect .prod {
  display: inline-block;
  width: 34%;
  vertical-align: top;
}

.block6 .sect .prod img {
  position: relative;
  left: -110px;

  width: 100%;
}

.block6 .cup2 {
  position: absolute;
  bottom: -120px;
  left: -320px;
}

.block6 .meter {
  position: absolute;
  bottom: 0;
  left: 0;
}

.block6 .photo {
  position: absolute;
  top: 202px;
  right: -265px;
}

.block7 {
  padding: 250px 0 0;
}

.block7 h1 {
  position: relative;
  z-index: 1;

  width: 60%;
  margin-bottom: 280px;

  font-weight: bold;
  font-size: 36px;
  line-height: 45px;
  color: #383837;
  text-transform: uppercase;
}

.block7 h1 span {
  display: block;
}

.block7 .list {
  position: relative;

  font-size: 0;
  text-align: center;
}

.block7 .list .arrow {
  position: absolute;
  top: -453px;
  left: -6px;

  width: 100%;
  max-width: 866px;
}

.block7 .list li {
  position: relative;
  z-index: 1;

  display: inline-block;
  width: 20%;

  font-size: 17px;
  vertical-align: top;
}

.block7 .list li .days {
  display: block;
  width: 177px;
  height: 177px;
  margin: 0 auto 10px;

  font-weight: bold;
  font-size: 28px;
  line-height: 177px;
  text-align: center;
  color: white;

  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.block7 .list li p {
  padding: 0 10px;

  line-height: 27px;
  color: #2d2d2d;
}

.block7 .list li:nth-of-type(2) {
  bottom: 50px;
}

.block7 .list li:nth-of-type(3) {
  bottom: 140px;
}

.block7 .list li:nth-of-type(4) {
  bottom: 270px;
}

.block7 .list li:nth-of-type(5) {
  bottom: 430px;
}

.block7 .list li:nth-of-type(1) .days {
  background: #4cb2c9;
}

.block7 .list li:nth-of-type(2) .days {
  background: #43abc2;
}

.block7 .list li:nth-of-type(3) .days {
  background: #37a1b9;
}

.block7 .list li:nth-of-type(4) .days {
  background: #2a97af;
}

.block7 .list li:nth-of-type(5) .days {
  background: #1e8ca5;
}

.block7 .list .weight {
  position: absolute;
  right: -104px;
  bottom: 18px;
}

.block8 {
  padding: 0 0 20px;
}

.block8 h1 {
  max-width: 770px;
  margin: 0 auto 65px;

  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  text-align: center;
  color: #383837;
  text-transform: uppercase;
}

.block8 .list {
  font-size: 0;
  text-align: center;
}

.block8 .list li {
  display: inline-block;
  width: 23%;
  max-width: 205px;
  margin-right: 2%;

  font-size: 14px;
  vertical-align: top;
  color: #595959;
}

.block8 .list li img {
  width: 100%;
  margin-bottom: 8px;
}

.block8 .list li:last-child {
  margin-right: 0;
}

.block9 {
  position: relative;

  min-height: 655px;
  padding: 25px 0 90px;

  border-bottom: 5px solid #1d7a99;
}

.block9 h1 {
  max-width: 770px;
  margin: 0 auto 50px;

  font-size: 28px;
  line-height: 35px;
  text-align: center;
  color: #383837;
  text-transform: uppercase;
}

.block9 .list {
  position: relative;
  z-index: 1;

  width: 100%;
  max-width: 950px;
  margin: 0 auto;
}

.block9 .list li {
  display: block;
  margin-bottom: 15px;
  padding: 4px 20px;

  color: white;

  background: #36a3bb;
}

.block9 .list li:nth-of-type(1) {
  width: 91%;
}

.block9 .list li:nth-of-type(2) {
  width: 99%;
}

.block9 .list li:nth-of-type(3) {
  width: 100%;
}

.block9 .list li:nth-of-type(4) {
  width: 97%;
}

.block9 .list li:nth-of-type(5) {
  width: 94%;
}

.block9 .list li p {
  display: inline-block;
  width: 85%;
  max-width: 700px;

  vertical-align: middle;
}

.block9 .list li span {
  display: inline-block;
  width: 13%;

  font-weight: bold;
  font-size: 38px;
  vertical-align: middle;
}

.block9 .meter {
  position: absolute;
  bottom: 0;
  left: 0;
}

.block10 {
  position: relative;

  padding: 50px 0 75px;
}

.block10 .mark {
  width: 100%;
  max-width: 560px;
  margin: -85px auto 40px;
  padding: 15px 25px;

  font-size: 0;

  background: white;
}

.block10 .mark .left,
.block10 .mark .right {
  display: inline-block;
  width: 50%;

  vertical-align: middle;
}

.block10 .mark .left {
  padding-right: 5px;
}

.block10 .mark .right {
  padding-left: 5px;
}

.block10 .mark .left p {
  display: inline-block;
  width: 45%;
  padding-left: 5px;

  font-weight: bold;
  font-size: 16px;
  vertical-align: middle;
  color: #1d7a99;
}

.block10 .mark .left .img_cont {
  display: inline-block;
  width: 55%;

  vertical-align: middle;
  text-align: center;
}

.block10 .mark .left .img_cont img {
  max-width: 140px;
}

.block10 .mark .right p {
  font-size: 16px;
  color: black;
}

.block10 .mark .right .color {
  font-weight: bold;
  color: #1d7a99;
  text-transform: uppercase;
}

.block10 h1 {
  margin-bottom: 30px;

  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  text-align: center;
  color: #383837;
  text-transform: uppercase;
}

.block10 .res_mark {
  margin-bottom: 30px;
}

.block10 .slider {
  position: relative;

  display: block;
  width: 100%;
  max-width: 1060px;
  margin: 0 auto;
}

.block10 .slider .item {
  padding: 85px 50px;

  font-size: 0;

  border: 1px solid #36a3bb;
}

.block10 .slider .item .left {
  display: inline-block;
  width: 40%;
  padding: 0 10px;

  vertical-align: top;
}

.block10 .slider .item .left img {
  width: 100%;
  max-width: 340px;
}

.block10 .slider .item .right {
  position: relative;

  display: inline-block;
  width: 60%;
  padding: 0 10px;

  font-size: 17px;
  vertical-align: top;
  text-align: left;
  color: #3f3f3f;
}

.block10 .slider .item .label {
  position: relative;

  margin-bottom: 10px;
  padding-top: 25px;
  padding-right: 20px;

  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
}

.block10 .slider .item .label:before {
  content: "";
  position: absolute;
  top: -25px;
  left: 2px;

  width: 49px;
  height: 39px;

  background: url("../img/quote.png") no-repeat;
}

.block10 .slider .item .name {
  margin-bottom: 18px;

  font-weight: bold;
  font-size: 20px;
}

.block10 .slider .item .name span {
  color: #36a3bb;
}

.block10 .slider .item .line {
  position: relative;

  width: 100%;
  height: 1px;
  margin-bottom: 37px;

  background: #1f989d;
}

.block10 .slider .item .line:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;

  width: 15px;
  height: 15px;

  background: #1f989d;
}

.block10 .slider .item .text {
  line-height: 27px;
}

.block10 .slider .bottom {
  margin-top: 70px;
}

.block10 .slider .bottom .list li {
  display: inline-block;
  width: 33%;

  vertical-align: top;
  text-align: center;
}

.block10 .slider .bottom .list li img {
  width: 100%;
  max-width: 280px;
}

.block10 .slider .slick-prev {
  top: 115px;
  left: -28px;
  z-index: 1;

  width: 61px;
  height: 61px;

  background: url("../img/prev.jpg") no-repeat;
}

.block10 .slider .slick-next {
  top: 115px;
  right: -28px;
  z-index: 1;

  width: 61px;
  height: 61px;

  background: url("../img/next.jpg") no-repeat;
}

.block11 {
  min-height: 598px;
  padding: 48px 0;

  background: url("../img/block11_bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

.block11 .limit {
  max-width: 1266px;
}

.block11 h1 {
  margin-bottom: 57px;

  font-weight: bold;
  font-size: 33px;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.block11 .list {
  text-align: center;
}

.block11 .list li {
  position: relative;

  display: inline-block;
  width: 32%;

  vertical-align: top;
}

.block11 .list li:before {
  content: "";
  position: absolute;
  top: 120px;
  right: -29px;

  width: 38px;
  height: 37px;

  background: url("../img/block11_arrow.png") no-repeat;
}

.block11 .list li:last-child:before {
  display: none;
}

.block11 .list li img {
  display: block;
  width: 265px;
  height: 265px;
  margin: 0 auto 13px;

  -webkit-border-radius: 50%;
  border-radius: 50%;
}

.block11 .list li p {
  max-width: 250px;
  margin: 0 auto;

  font-size: 19px;
  line-height: 27px;
  color: white;
}

.block12 .bg_cont {
  min-height: 828px;
  padding: 37px 0 0;
  overflow: hidden;

  font-size: 0;

  background: url("../img/block12_bg.jpg") no-repeat center;
  -webkit-background-size: cover;
  background-size: cover;
}

.block12 h1 {
  max-width: 876px;
  margin: 0 auto 2px;

  font-weight: bold;
  font-size: 32px;
  line-height: 41px;
  text-align: center;
  color: #434343;
}

.block12 h2 {
  margin-bottom: 20px;

  font-size: 24px;
  line-height: 39px;
  text-align: center;
}

.block12 .left,
.block12 .right {
  position: relative;

  display: inline-block;
  width: 50%;
  font-size: 1rem;
  vertical-align: top;
}

.block12 .left {
  padding-top: 68px;

  text-align: right;
}

.limit-footer {
  display: flex;
  justify-content: center;
}

.limit-footer .left,
.limit-footer .right {
  width: auto;
}

.block12 .left .prod {
  position: relative;
  left: -80px;
  top: 106px;
  max-width: 300px;
}

.block12 .left .sect {
  position: absolute;
  top: 23px;
  right: 120px;

  max-width: 340px;

  text-align: center;
}

.block12 .left .sect .symbol {
  max-width: 100%;
  margin: 0 auto;
}

.block12 .left .sect h2 {
  margin-bottom: 22px;

  font-weight: bold;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;

  background: -webkit-linear-gradient(#dbbd90, #b6996c);
  -webkit-background-clip: text;

  -webkit-text-fill-color: transparent;
}

.block12 .left .sect .sale {
  font-weight: bold;
  font-size: 22px;
  color: #393939;
}

.block12 .left .sect .sale span {
  font-size: 32px;
}

.block12 .left .sect .price {
  text-align: center;
}

.block12 .left .sect .price span {
  display: inline-block;

  font-weight: bold;
  vertical-align: middle;
}

.block12 .left .sect .price .old {
  position: relative;

  font-size: 20px;
  color: #393939;
}

.block12 .left .sect .price .old:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 100%;
  height: 1px;

  background: red;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.block12 .left .sect .price .new {
  font-size: 34px;
  color: #36a3bb;
}

.block12 .left .cup {
  position: absolute;
  top: 279px;
  left: -165px;

  max-width: 356px;
}

.block12 .right {
  position: relative;

  padding-top: 12px;
  padding-left: 7px;

  color: #434343;
}

.block12 .right h2 {
  position: relative;
  right: 25px;

  margin-bottom: 15px;

  font-weight: bold;
  font-size: 22px;
  line-height: 30px;
  text-align: left;
}

.block12 .right form {
  position: relative;

  width: 291px;
  height: 319px;
  margin-top: 18px;
  margin-bottom: 65px;
  padding: 35px 15px;

  background: url("../img/form_bg.png") no-repeat;
  -webkit-background-size: contain;
  background-size: contain;
}

.block12 .right form select,
.block12 .right form input {
  display: block;
  width: 100%;
  margin-bottom: 13px;
  padding: 12px 15px;

  font-weight: normal;
  font-size: 18px;

  border: none;
}

.block12 .right form select {
  background: #ffffff url(../img/triangle.png) no-repeat 98% center;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.block12 .right form .btn {
  position: absolute;
  bottom: -90px;
  left: 0;
  z-index: 22;

  display: block;
  width: 100%;
  padding: 20px 10px;

  font-weight: bold;
  font-size: 22px;
  text-align: center;
  color: white;
  text-transform: uppercase;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#54f2f9+0,18a1a7+100 */

  background: rgb(84, 242, 249);
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(84, 242, 249, 1) 0%, rgba(24, 161, 167, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(84, 242, 249, 1)), to(rgba(24, 161, 167, 1)));
  background: -o-linear-gradient(top, rgba(84, 242, 249, 1) 0%, rgba(24, 161, 167, 1) 100%);
  background: linear-gradient(to bottom, rgba(84, 242, 249, 1) 0%, rgba(24, 161, 167, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border: none;
  border-bottom: 4px solid #0f6b6f;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#54f2f9', endColorstr='#18a1a7', GradientType=0);
  /* IE6-9 */
}

.block12 .right .limit {
  max-width: 350px;
  margin: 0;
}

.block12 .right .list {
  margin-bottom: 37px;
  padding-left: 25px;
}

.block12 .right .list li {
  position: relative;

  margin-bottom: 5px;

  font-size: 17px;
}

.block12 .right .list li:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -23px;

  width: 7px;
  height: 7px;

  background: #36a3bb;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.block12 .right .girl {
  position: absolute;
  right: -190px;
  bottom: -125px;
}

.block12 .bottom {
  position: relative;
  z-index: 11;

  padding: 23px 0;

  font-size: 0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e2c496+0,ccac7a+100 */

  background: rgb(226, 196, 150);
  /* Old browsers */
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(226, 196, 150, 1) 0%, rgba(204, 172, 122, 1) 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(226, 196, 150, 1)), to(rgba(204, 172, 122, 1)));
  background: -o-linear-gradient(top, rgba(226, 196, 150, 1) 0%, rgba(204, 172, 122, 1) 100%);
  background: linear-gradient(to bottom, rgba(226, 196, 150, 1) 0%, rgba(204, 172, 122, 1) 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#e2c496', endColorstr='#ccac7a', GradientType=0);
  /* IE6-9 */
}

.block12 .bottom .left,
.block12 .bottom .right {
  padding: 0;

  vertical-align: middle;
  text-align: left;
}

.block12 .bottom .left .list li {
  position: relative;

  display: inline-block;
  max-width: 300px;
  padding-right: 20px;
  padding-left: 50px;

  vertical-align: middle;
  color: white;
}

.block12 .bottom .left .list li:nth-of-type(1):before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 44px;
  height: 23px;

  background: url("../img/block12_item1.png") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.block12 .bottom .left .list li:nth-of-type(2):before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;

  width: 34px;
  height: 34px;

  background: url("../img/block12_item2.png") no-repeat;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.block12 .bottom .pack {
  position: relative;

  display: inline-block;

  font-size: 17px;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.block12 .bottom .pack span {
  padding: 3px 5px;

  background: #937a54;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.block12 .bottom .pack:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -15px;

  width: 7px;
  height: 7px;

  background: #937a54;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

footer {
  display: block;
  padding: 20px 0;

  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #414141;

  background: white;
}

@media screen and (max-width: 1200px) {
  .block10 .slider .slick-next {
    right: 0;
  }

  .block10 .slider .slick-prev {
    left: 0;
  }
}

@media screen and (max-width: 1100px) {

  .block4 .cup {
    display: none;
  }

  .block2 .right {
    padding-left: 30px;
  }

  .block5 .prod {
    top: -56px;
    left: -50px;

    max-width: 400px;
  }

  .block1 .top .list li {
    padding-right: 30px;
  }

  .block2 .bottom .prod {
    right: -40px;
  }

  .block9 .meter {
    display: none;
  }

  .block7 .list .weight {
    right: -150px;
  }
}

@media screen and (max-width: 960px) {
  .limit {
    max-width: 480px;
  }

  .block {
    min-height: 0;
  }

  .block1 .bg_cont {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#303030+0,464646+50,303030+100 */
    background: rgb(48, 48, 48);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(rgba(48, 48, 48, 1)), color-stop(50%, rgba(70, 70, 70, 1)), to(rgba(48, 48, 48, 1)));
    background: -o-linear-gradient(left, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%);
    background: linear-gradient(to right, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#303030', GradientType=1);
    /* IE6-9 */
  }

  .block1 .top {
    display: none;
  }

  .block1 .middle .left {
    display: block;
    width: 100%;
    padding: 0;
  }

  .block1 .middle .prod {
    position: static;

    display: block;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;

    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }

  .block1 .middle .right {
    display: block;
    width: 100%;
    padding: 0;
  }

  .block1 .middle .left .sect {
    margin: 0 auto;
  }

  .block1 .middle .left .list {
    margin: 20px auto;
  }

  .block1 .middle .right form {
    margin: 0 auto;
  }

  .block1 .middle .right h2 {
    margin-bottom: 0;
  }

  .block1 .middle .right form .btn {
    bottom: -20px;
  }

  .block1 .bottom {
    text-align: center;
  }

  .block1 .bottom .pack {
    padding: 0;
  }

  .block2 .left {
    display: block;
    width: 100%;
  }

  .block2 .right {
    display: block;
    width: 100%;
    padding: 10px;
  }

  .block2 .slick-dots {
    position: static;

    display: block;
    margin: 10px auto;

    text-align: center;
  }

  .block2 .slider {
    padding: 10px 0;
  }

  .block2 .girl {
    display: none;
  }

  .block2 .bottom {
    width: 100%;
    padding: 10px;
  }

  .block2 .left .img_cont {
    padding: 0 30px;
  }

  .block2 .slick-next {
    top: 270px;
    right: 0;
  }

  .block2 .slick-prev {
    top: 270px;
    left: 0;
  }

  .block2 .bottom .cup {
    display: none;
  }

  .block2 .bottom .symbol {
    display: none;
  }

  .block2 .bottom .prod {
    right: 0;

    display: block;
    width: 100%;
    max-width: 300px;
    margin: 20px auto;
  }

  .block3 {
    padding: 20px 0;
  }

  .block3 h1 {
    margin-bottom: 20px;
  }

  .block3 .list li {
    display: block;
    width: 100%;
  }

  .block4 .prod {
    display: none;
  }

  .block4 .left {
    margin: 0 auto;
  }

  .block4 {
    padding: 20px 0;
  }

  .block4 .left h1 {
    margin-bottom: 20px;
  }

  .block5 {
    margin: 0 auto;
    padding: 20px 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#303030+0,464646+50,303030+100 */

    background: rgb(48, 48, 48);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(rgba(48, 48, 48, 1)), color-stop(50%, rgba(70, 70, 70, 1)), to(rgba(48, 48, 48, 1)));
    background: -o-linear-gradient(left, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%);
    background: linear-gradient(to right, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#303030', GradientType=1);
    /* IE6-9 */
  }

  .block5 .prod {
    position: static;

    display: block;
    width: 100%;
    max-width: 300px;
    margin: 10px auto;
  }

  .block6 {
    padding: 20px 0;
  }

  .block6 .photo {
    display: none;
  }

  .block6 .meter {
    display: none;
  }

  .block6 .cup2 {
    display: none;
  }

  .block6 .sect .cup {
    display: none;
  }

  .block6 .sect .text {
    display: block;
    width: 100%;
  }

  .block6 .sect .prod {
    display: block;
    width: 100%;
  }

  .block6 .sect .prod img {
    left: 0;

    width: 100%;
    max-width: 300px;
    margin: 10px auto;
  }

  .block6 h1 {
    margin-bottom: 20px;
  }

  .block7 {
    padding: 20px 0;
  }

  .block7 h1 {
    width: 100%;
    margin-bottom: 20px;
  }

  .block7 .list li {
    bottom: 0 !important;

    display: block;
    width: 100%;
    margin: 15px auto;
  }

  .block7 .list .weight {
    display: none;
  }

  .block7 .list li p {
    max-width: 300px;
    margin: 0 auto;
  }

  .block12 .left .sect {
    position: static;
    margin: 0 auto;
  }

  .block7 h1 {
    text-align: center;
  }

  .block7 .list .arrow {
    display: none;
  }

  .block8 .list li {
    width: 50%;
    margin-bottom: 20px;
  }

  .block8 h1 {
    margin-bottom: 20px;
  }

  .block9 {
    padding: 20px 0;
  }

  .block9 h1 {
    margin-bottom: 20px;
  }

  .block9 .list li p {
    width: 75%;
  }

  .block10 .mark {
    display: none;
  }

  .block10 {
    padding: 20px 0;
  }

  .block10 h1 {
    margin-bottom: 20px;
  }

  .block10 .slider .bottom {
    display: none;
  }

  .block10 .slider .item {
    padding: 10px;
  }

  .block10 .slider .item .left {
    display: block;
    width: 100%;
  }

  .block10 .slider .item .right {
    display: block;
    width: 100%;
  }

  .block10 .slider .item .label:before {
    display: none;
  }

  .block10 .slider .item .left img {
    display: block;
    max-width: 280px;
    margin: 0 auto;
  }

  .block11 {
    padding: 20px 0;

    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#303030+0,464646+50,303030+100 */

    background: rgb(48, 48, 48);
    /* Old browsers */
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: -webkit-gradient(linear, left top, right top, from(rgba(48, 48, 48, 1)), color-stop(50%, rgba(70, 70, 70, 1)), to(rgba(48, 48, 48, 1)));
    background: -o-linear-gradient(left, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%);
    background: linear-gradient(to right, rgba(48, 48, 48, 1) 0%, rgba(70, 70, 70, 1) 50%, rgba(48, 48, 48, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#303030', endColorstr='#303030', GradientType=1);
    /* IE6-9 */
  }

  .block11 .list li:before {
    display: none;
  }

  .block11 .list li {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

  .block11 h1 {
    margin-bottom: 20px;
  }

  .block11 .list li img {
    width: 170px;
    height: 170px;
  }

  .block12 .bg_cont {
    padding: 20px 0;
  }

  .block12 .left .cup {
    display: none;
  }

  .block12 .right .girl {
    display: none;
  }

  .block12 .left {
    display: block;
    width: 100%;
    padding-top: 0;
  }

  .block12 .left .prod {
    display: block;
    max-width: 300px;
    margin: 20px auto 0;
    top: 0;
    left: 0;
    position: static;
  }

  .block12 .right {
    display: block;
    width: 100%;
  }

  .block12 .right .limit {
    max-width: 100%;
  }

  .block12 .right h2 {
    right: 0;
  }

  .block12 .right .list {
    margin-bottom: 20px;
    padding-left: 90px;
  }

  .block12 .right form {
    margin: 20px auto;
  }

  .block12 .right form .btn {
    bottom: -20px;
  }

  .block12 .bottom .left {
    display: none;
  }

  .block12 .bottom .right {
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .block1 .middle .left h1 {
    font-size: 48px;
    text-align: center;
  }

  .limit {
    padding: 0 5px;
  }

  .block1 .middle .left h2 span,
  .block1 .middle .left h2 {
    font-size: 24px;
    text-align: center;
  }

  .block1 .middle .left .list li {
    margin-bottom: 5px;

    font-size: 16px;
  }

  .block1 .middle .left .sect {
    font-size: 18px;
  }

  .block1 .bottom .pack {
    font-size: 15px;
  }

  .block2 .right .comm {
    font-size: 16px;
    line-height: 20px;
  }

  .block2 .right .name {
    font-size: 18px;
  }

  .block2 .right .info.work {
    font-size: 16px;
  }

  .block2 .right .info {
    font-size: 16px;
  }

  .block2 .slick-dotted.slick-slider {
    margin-bottom: 0;
  }

  .block2 .bottom h1 {
    margin-bottom: 20px;
    padding: 0;

    font-size: 24px;
    line-height: normal;
  }

  .block2 .bottom p {
    font-size: 16px;
    line-height: 20px;
  }

  .block3 h1 {
    font-size: 24px;
    line-height: normal;
  }

  .block3 .list li .section img {
    max-width: 150px;
  }

  .block3 .list li .section .label {
    padding: 0 35px;

    font-size: 12px;
    line-height: normal;
  }

  .block3 .list li .section .label span {
    display: block;

    font-size: 12px;
  }

  .block3 .list li .section p {
    font-size: 16px;
    line-height: 20px;
  }

  .block3 .list li .section .img_cont {
    margin-bottom: 5px;
  }

  .block4 .left h1 span {
    display: block;

    font-size: 24px;
  }

  .block4 .left h1 {
    font-size: 30px;
    line-height: normal;
  }

  .block4 .left .list li p {
    padding: 0 8px;

    font-size: 15px;
    line-height: 19px;
  }

  .block5 .right h1 {
    font-size: 24px;
    line-height: normal;
  }

  .block5 .right .list {
    padding: 0;
  }

  .block5 .right .list li {
    font-size: 16px;
    line-height: 20px;
  }

  .block6 h1 {
    font-size: 24px;
    line-height: normal;
  }

  .block6 .sect {
    padding: 10px;
  }

  .block6 .sect p.label {
    margin-bottom: 15px;

    font-size: 18px;
  }

  .block6 .sect p {
    font-size: 16px;
    line-height: 20px;
  }

  .block7 h1 {
    font-size: 24px;
    line-height: normal;
  }

  .block7 .list li .days {
    width: 100px;
    height: 100px;

    font-size: 18px;
    line-height: 100px;
  }

  .block7 .list li p {
    font-size: 16px;
    line-height: 20px;
  }

  .block8 h1 {
    font-size: 24px;
    line-height: normal;
  }

  .block8 .list li {
    display: block;
    width: 100%;
    margin: 0 auto 15px;
  }

  .block8 .list li:last-child {
    margin: 0 auto 15px;
  }

  .block9 h1 {
    font-size: 24px;
    line-height: normal;
  }

  .block9 .list li span {
    font-size: 18px;
  }

  .block9 .list li p {
    font-size: 14px;
  }

  .block9 .list li p {
    width: 85%;
    padding-right: 10px;
  }

  .block10 h1 {
    font-size: 24px;
    line-height: normal;
  }

  .block10 .slider .item .label {
    margin: 10px auto;
    padding: 0;

    font-size: 18px;
  }

  .block10 .slider .item .name {
    font-size: 16px;
  }

  .block10 .slider .item .text {
    font-size: 16px;
    line-height: 20px;
  }

  .block10 .slider .item {
    margin-bottom: 15px;
  }

  .block11 h1 {
    font-size: 24px;
    line-height: normal;
  }

  .block11 .list li p {
    font-size: 16px;
    line-height: 20px;
  }

  .block11 .list li img {
    margin-bottom: 5px;
  }

  .block12 h1 {
    font-size: 24px;
    line-height: normal;
  }

  .block12 h2 {
    font-size: 18px;
    line-height: normal;
  }

  .block12 .right h2 {
    font-size: 18px;
    line-height: normal;
  }

  .block12 .right .list li {
    font-size: 16px;
    line-height: normal;
  }

  .block1 .bottom .pack:before {
    display: none;
  }

  .block12 .right .limit {
    padding: 0;
  }

  .block12 .bottom .pack:before {
    display: none;
  }

  .block12 .bottom .pack {
    font-size: 15px;
  }
}

@media screen and (max-width: 1100px) {
  .block4 .prod {
    top: 190px;
    right: 0px;
  }
}


@media (max-width: 1190px) {
  .limit {
    padding: 0 10px;
  }
}

@media (max-width: 960px) {
  .block1 .middle .left h1 {
    text-align: center;
  }

  .block1 .middle .left h2 {
    text-align: center;
  }

  .block1 .middle .left .list {
    width: 300px;
  }

  .block1 .middle .right form {
    margin-top: 20px;
  }

  .block1 .middle {
    padding-bottom: 50px;
  }
}

@media (max-width: 479px) {
  .block12 .right .list {
    padding-left: 0;
  }

  .block12 .right .list {
    width: 300px;
    margin: 0 auto;
  }

  .block12 .right .list li {
    width: 100%;
    padding-left: 20px;
  }

  .block12 .right .list li::before {
    left: 0;
  }
}

@media (max-width: 1190px) {
  .block7 .list .arrow {
    position: absolute;
    top: -493px;
    left: -136px;
    width: 100%;
    max-width: 866px;
  }
}
.ac_footer {
  position: relative;
  top: 10px;
padding-bottom: 20px;
  text-align: center;
  margin-bottom: 70px;
  color: #A12000;
}

.ac_footer a {
  color: #A12000;
}

.ac_footer p {
  text-align: center;
}

img[height="1"],
img[width="1"] {
  display: none !important;
}